

@media (min-width: 1440px) {

  body {
    height: 900px;
  }

  /* БЛОК С ОКНАМИ */

  .window_ {
    width: 600px;
    height: 600px;
  }

  .window_1 {
    position: relative;
    margin: 100px 0 89px 120px;
  }

  .window_2 {
    position: relative;
    margin: 44px 0 -35px -400px;
  }

  .window_3 {
    position: relative;
    margin: 0 0 150px -350px;
  }

  .window_4 {
    position: relative;
    margin: 0 0 20px -200px;
  }

  .window_5 {
    position: relative;
    margin: 0 0 -100px -350px;
  }

  .window_6 {
    position: relative;
    margin: 0 0 109px -250px;
  }

  /* ПАДАЮЩИЕ БЛОКИ */

  .history {
    overflow: hidden;
    width: 350px;
    height: 350px;
    top: -48px;
  }

  .sings {
    width: 500px;
    height: 500px;
    left: 272px;
    top: 60px;
  }

  .dash {
  }

  .cat {
    left: 745px;
    top: 229px;
  }

  .black {
    width: 500px;
    height: 250px;
    left: 834px;
    top: 649px;
  }

  .about {
    width: 350px;
    height: 350px;
    left: 1223px;
    top: 50px;
  }

  .saltShaker {
    width: 400px;
    height: 400px;
    left: 1121px;
    top: 388px;
  }

  .cats {
    width: 500px;
    height: 400px;
    left: 1497px;
    top: 322px;
  }

  .colon {
    width: 300px;
    height: 400px;
    left: 1521px;
    top: 84px;
  }

  .catPaint {
    width: 613px;
    height: 359px;
    left: 1944px;
    top: 539px;
  }

  .saltIllustration {
    width: 300px;
    height: 300px;
    top: 520px;
  }

  .saltShakerIllustrations {
    width: 613px;
    height: 400px;
    top: 500px;
  }

  .catPushes {
    width: 613px;
    height: 400px;
  }

  .phrase {
    width: 639px;
    height: 877px;
    background-size: 600px 900px;
    top: -150px;
    left: 900px;
  }

  .catWords {
    width: 300px;
    height: 300px;
  }

  .vandalism {
    height: 900px;
    width: 3226px;
    background-size: 3228px;
  }

  .blinks {
    position: relative;
    height: 900px;
    width: 1440px;
  }

  .eyesLeft {
    position: absolute;
    top: 50px;
    left: 350px;
  }

  .eyesLeft:hover ~ .eyesRight {
    top: 50px;
    left: 350px;
  }

  .flashingCats {
    height: 900px;
    width: 2000px;
  }

  footer {
    height: 900px;
    width: 1200px;
    margin-left: -570px;
  }

  .museum {
    top: 61px;
    left: 61px;
  }

  .sings13 {
    top: 61px;
    left: 421px;
  }

  .bucket {
    top: 278px;
    left: 767px;
  }

  .primetnayaStreet {
    top: 361px;
    left: 397px;
  }

  .home13 {
    top: 681px;
    left: 910px;
  }
}
