@media (min-width: 414px) {
  body {
    height: 800px;
  }

  /* БЛОК С ОКНАМИ */

  .window {
    width: 3670px;
  }
  .window_ {
    width: 1000px;
    height: 800px;
  }

  .window_1 {
    position: relative;
    margin: 400px 0 89px 50px;
  }

  .window_2 {
    position: relative;
    margin: 0 0 -528px -784px;
  }

  .window_3 {
    position: relative;
    margin: 0 0 335px -541px;
  }

  .window_4 {
    position: relative;
    margin: 0 0 -383px -335px;
  }

  .window_5 {
    position: relative;
    margin: 12px 0 269px -515px;
  }

  .window_6 {
    position: relative;
    margin: 6px 0 -290px -221px;
  }

  /* ПАДАЮЩИЕ БЛОКИ */

  .fallBlocks {
    background-size: 4128px;
    margin-right: -100px;
  }

  .history {
    overflow: hidden;
    width: 900px;
    height: 612px;
    top: 100px;
    left: 205px;
  }

  .sings {
    width: 900px;
    height: 500px;
    left: 381px;
    top: 620px;
  }

  .dash {
    width: 600px;
    height: 237px;
    left: 1164px;
    top: 223px;
  }

  .cat {
    left: 1258px;
    height: 700px;
    top: 412px;
  }

  .black {
    width: 680px;
    height: 422px;
    left: 854px;
    top: 1480px;
  }

  .about {
    width: 550px;
    height: 550px;
    left: 1873px;
    top: 397px;
  }

  .saltShaker {
    width: 700px;
    height: 700px;
    left: 1037px;
    top: 964px;
  }

  .cats {
    width: 823px;
    height: 700px;
    left: 1692px;
    top: 1081px;
  }

  .colon {
    width: 600px;
    height: 500px;
    left: 1561px;
    top: 881px;
  }

  .catPaint {
    width: 855px;
    height: 494px;
    left: 1573px;
    top: 1384px;
    transform: rotate(-40deg);
  }

  .noSings {
    background: url(../img/textSings.svg) 112px -42px, url(../img/noSings.svg) no-repeat center / 200%;
  }

  .saltIllustration {
    width: 439px;
    height: 380px;
    top: 764px;
    left: -462px;
  }

  .saltShakerIllustrations {
    width: 934px;
    height: 514px;
    top: 1307px;
    left: -299px;
    transform: rotateZ(66deg);
  }

  .catPushes {
    width: 891px;
    top: 1200px;
    height: 805px;
    left: 430px;
  }

  .phrase {
    width: 848px;
    height: 924px;
    background-size: 901px 1312px;
    top: 127px;
    left: 900px;
  }

  .catWords {
    width: 619px;
    height: 681px;
    margin-top: 340px;
    margin-left: 40px;
  }

  .vandalism {
    height: 2117px;
    width: 7747px;
    background-size: 7747px;
  }

  .drop_8 {
    top: 300px;
    left: 1600px;
  }

  .drop_9 {
    left: 1700px;
  }

  .drop_5 {
    top: 400px;
    left: 1800px;
  }

  .drop_4 {
    top: 600px;
    left: 1200px;
  }

  .drop_3 {
    left: 500px;
  }

  .blinks {
    position: relative;
    height: 2208px;
    width: 930px;
  }

  .eyesLeft {
    position: absolute;
    top: 600px;
    left: 83px;
    height: 800px;
    width: 800px;
  }

  .eyesRight {
    height: 2208px;
  }

  .eyesLeft:hover ~ .eyesRight {
    top: 600px;
    left: 83px;
    height: 800px;
    width: 800px;
  }

  .flashingCats {
    height: 2215px;
    width: 1500px;
    margin-right: -300px;
  }

  .bunchOfCats {
    height: 200px;
    width: 200px;
  }

  footer {
    height: 2119px;
    width: 1500px;
    background-size: 2363px;
    background-position: left;
  }

  .museum {
    top: 353px;
    height: 500px;
    left: 51px;
  }

  .sings13 {
    height: 606px;
    top: 656px;
    left: 249px;
  }

  .bucket {
    top: 1023px;
    left: 836px;
    height: 572px;
  }

  .primetnayaStreet {
    height: 514px;
    top: 1325px;
    left: 310px;
  }

  .home13 {
    left: 1019px;
    top: 1772px;
    height: 350px;
    width: 500px;
  }
}
