@media (min-width: 768px) {

  body {
    height: 800px;
  }

  /* БЛОК С ОКНАМИ */

  .window {
    width: 3191px;
    margin-right: -2px;
  }
  .window_ {
    width: 847px;
    height: 747px;
  }

  .window_1 {
    position: relative;
    margin: 250px 0 89px 120px;
  }

  .window_2 {
    position: relative;
    margin: 55px 0 -108px -678px;
  }

  .window_3 {
    position: relative;
    margin: 0 0 224px -476px;
  }

  .window_4 {
    position: relative;
    margin: 0 0 50px -335px;
  }

  .window_5 {
    position: relative;
    margin: 0 0 208px -351px;
  }

  .window_6 {
    position: relative;
    margin: 0 0 52px -250px;
  }

  /* ПАДАЮЩИЕ БЛОКИ */

  .fallBlocks {
    background-size: 4128px;
    margin-right: -100px;
  }

  .history {
    overflow: hidden;
    width: 500px;
    height: 500px;
    top: -72px;
    left: 209px;
  }

  .sings {
    width: 500px;
    height: 500px;
    left: 272px;
    top: 206px;
  }

  .dash {
    width: 564px;
    height: 237px;
    left: 764px;
    top: 227px;
  }

  .cat {
    left: 584px;
    height: 642px;
    top: 368px;
  }

  .black {
    width: 560px;
    height: 270px;
    left: 662px;
    top: 1037px;
  }

  .about {
    width: 350px;
    height: 350px;
    left: 1273px;
    top: 141px;
  }

  .saltShaker {
    width: 550px;
    height: 550px;
    left: 1017px;
    top: 698px;
  }

  .cats {
    width: 700px;
    height: 300px;
    left: 1428px;
    top: 581px;
  }

  .colon {
    width: 300px;
    height: 400px;
    left: 1521px;
    top: 274px;

  }

  .catPaint {
    width: 813px;
    height: 480px;
    left: 1700px;
    top: 813px;
  }

  .noSings {
    background: url(../img/textSings.svg) 112px -42px, url(../img/noSings.svg) no-repeat 0 / 130% auto;
  }

  .saltIllustration {
    width: 439px;
    height: 380px;
    top: 764px;
    left: -462px;
  }

  .saltShakerIllustrations {
    width: 675px;
    height: 454px;
    top: 729px;
    left: -139px;
  }

  .catPushes {
    width: 691px;
    top: 639px;
    height: 505px;
    left: 493px;
  }

  .phrase {
    width: 715px;
    height: 930px;
    background-size: 701px 912px;
    top: 96px;
    left: 900px;
  }

  .catWords {
    width: 364px;
    height: 381px;
  }

  .vandalism {
    height: 1304px;
    width: 4679px;
    background-size: 4692px;
  }

  .drop_8 {
    top: 300px;
    left: 1600px;
  }

  .drop_9 {
    left: 1700px;
  }

  .drop_5 {
    top: 400px;
    left: 1800px;
  }

  .drop_4 {
    top: 600px;
    left: 1200px;
  }

  .drop_3 {
    left: 500px;
  }

  .blinks {
    position: relative;
    height: 1304px;
    width: 1024px;
  }

  .eyesLeft {
    position: absolute;
    top: 200px;
    left: 150px;
    height: 800px;
    width: 800px;
  }
  .eyesRight {
    height: 100vh;
  }

  .eyesLeft:hover ~ .eyesRight {
    top: 200px;
    left: 150px;
    height: 800px;
    width: 800px;
  }

  .flashingCats {
    width: 2000px;
    height: 100vh;
    margin-right: -167px;
  }

  .bunchOfCats {
    height: 200px;
    width: 200px;
  }

  footer {
    height: 1308px;
    width: 1500px;
    background-size: 2363px;
    background-position: left;
  }

  .museum {
    top: 81px;
    height: 400px;
    left: 78px;
  }

  .sings13 {
    height: 400px;
    top: 271px;
    left: 585px;
  }

  .bucket {
    top: 550px;
    left: 836px;
    height: 400px;
  }

  .primetnayaStreet {
    height: 400px;
    top: 702px;
    left: 319px;
  }

  .home13 {
    left: 1019px;
    top: 956px;
    height: 350px;
    width: 500px;
  }
}
